@font-face {
  src: url("fonts/PlayfairDisplay-VariableFont_wght.ttf");

  font-family: "Playfair Display";
}
@font-face {
  src: url("fonts/Mulish-VariableFont_wght.ttf");

  font-family: "Mulish";
}
