@import url("reset.css");
@import url("fonts.css");
@import url("xzoom.css");

body {
	background: #f2f2f2;
	padding-bottom: 3rem;
}
section,
footer {
	margin: 0 auto !important;
	position: relative;
}
span,
div {
	cursor: default;
}
button {
	cursor: pointer;
}
::placeholder {
	color: #C7C7CC;
}
* {
	background-repeat: no-repeat;
}

/* ====================== header-container ====================== */
header {
	position: relative;
	height: 180px;
	margin: 0 auto !important;
	background: #ffffff;
}
header .header-container {
	margin: 0 auto !important;
	position: relative;
	width: 1300px;
	height: 100%;
	text-align: center;
}
header .header-container .logo {
	position: absolute;
	top: 2rem;
	left: 0;
	height: 36px;
	width: 100px;
	background-image: url("images/logo.png");
	background-size: contain;
}
header .header-container .sns .instagram,
header .header-container .sns .twitter,
header .header-container .sns .facebook {
	position: absolute;
	top: 2.5rem;
	height: 24px;
	width: 24px;
	text-align: center;
	background-repeat: no-repeat;
}
header .header-container .sns .instagram {
	background-image: url("images/instagram_icn.png");
	left: calc(50% - 24px / 2 - 67.1px);
}
header .header-container .sns .twitter {
	background-image: url("images/twitter_icn.png");
	left: calc(50% - 24px / 2);
}
header .header-container .sns .facebook {
	background-image: url("images/facebook_icn.png");
	left: calc(50% - 24px / 2 + 67.1px);
}
header .header-container .login {
	position: absolute;
	font-family: Playfair Display;
	font-size: 1rem;
	right: 2.3rem;
	top: 2.5rem;
}
header .header-container .cart {
	position: absolute;
	right: 0;
	top: 2.3rem;
	width: 24px;
	height: 24px;
	background-image: url("images/cart_icn.png");
	background-size: contain;
	cursor: pointer;
}
header nav .Home,
header nav .Shop,
header nav .Blog,
header nav .Contact {
	position: absolute;
	display: inline-block;
	bottom: 0.5rem;
	height: 2rem;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 1.6rem;
	color: #1b2437;
}
header nav .Home {
	left: 30.96%;
}
header nav .Shop {
	left: 41.93%;
}
header nav .Blog {
	left: 52.02%;
}
header nav .Contact {
	left: 61.49%;
}
/* ====================== main-banner ====================== */
.main-banner {
	height: 540px;
	width: 1300px;
}
.main-banner > div {
	position: relative;
	margin: 0 auto;
	height: 100%;
}
.main-banner > div .display-img {
	height: 100%;
	background-image: url("images/banner + banner + photo Mask.png");
	background-position: center;
	background-repeat: no-repeat;
}
.main-banner > div .display-h1 {
	position: absolute;
	width: 361px;
	height: 128px;
	left: 4rem;
	top: 7.5rem;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 64px;
	color: #ffffff;
}
.main-banner > div .display-h2 {
	position: absolute;
	width: 378px;
	height: 72px;
	left: 4rem;
	top: 16rem;
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
}
.main-banner > div .btn-display-01 {
	position: absolute;
	width: 160px;
	left: 64px;
	top: 364px;
	height: 52px;
	background-color: Transparent;
	mix-blend-mode: normal;
	border: 2px solid #ffffff8a;
	box-sizing: border-box;
	border-radius: 16px;
	font-family: Mulish;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	padding-bottom: 5px;
	text-align: center;
	color: #ffffff;
}
/* ====================== sub-banner ====================== */
.sub-banner {
	width: 1300px;
	padding: 1.5rem 0;
	overflow: auto;
}
.sub-banner .sub-01 {
	position: relative;
	display: inline-block;
	float: left;
	margin-right: 2rem;
	width: 558px;
	height: 440px;
	background-image: url("images/averie-woodard-4nulm-JUYFo-unsplash 1.png");
	background-size: 100%;
	border-radius: 16px;
}
.sub-banner .sub-01 .sub-h1 {
	position: absolute;
	width: 160px;
	height: 102px;
	left: 32px;
	top: 32px;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 34px;
	line-height: 34px;
	letter-spacing: 0.4px;
	color: #ffffff;
}
.sub-banner .sub-01 .sub-h2 {
	position: absolute;
	width: 115px;
	height: 25px;
	left: 31.5px;
	top: 146px;
	font-family: Mulish;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 25px;
	color: #ffffff;
}
.sub-banner .sub-01 .sub-01-label {
	position: absolute;
	height: 32px;
	width: 96px;
	left: 32px;
	top: 195px;
	background: rgba(251, 251, 251, 0.2);
	mix-blend-mode: normal;
	color: #ffffff;
	border: none;
	border-radius: 8px;
	font-family: Mulish;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
}
.sub-banner .sub-nav {
	position: relative;
	display: inline-block;
	margin-right: 1.5rem;
	width: 410px;
	height: 208px;
	background: #dedefb;
	border-radius: 16px;
}
.sub-banner .sub-nav .sub-h2 {
	position: absolute;
	width: 203px;
	height: 20px;
	left: 32px;
	top: 94px;
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 16px;
	color: #1b2437;
}
.sub-banner .sub-nav .sub-h1 {
	position: absolute;
	width: 175px;
	height: 45px;
	left: 32px;
	top: 125px;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 32px;
	letter-spacing: 0.4px;
	color: #1b2437;
}
.sub-banner .sub-02 {
	position: relative;
	display: inline-block;
	width: 267px;
	height: 208px;
	background-image: linear-gradient(
			180deg,
			rgba(52, 52, 52, 0.4),
			rgba(52, 52, 52, 0.4)
		),
		url("images/chris-henry-4gD0nUsMTsE-unsplash 1.png");
	background-position: center;
	background-size: 100%;
	border-radius: 16px;
}
.sub-banner .sub-02 .sub-h1 {
	position: absolute;
	width: 203px;
	height: 45px;
	left: 32px;
	top: 125px;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 32px;
	letter-spacing: 0.4px;
	color: #ffffff;
}
.sub-banner .sub-02 .sub-02-label {
	position: absolute;
	width: 72px;
	height: 32px;
	left: 32px;
	top: 32px;
	background: rgba(251, 251, 251, 0.2);
	mix-blend-mode: normal;
	color: #ffffff;
	border: none;
	border-radius: 8px;
	font-family: Mulish;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
}
.sub-banner .sub-03 {
	position: relative;
	display: inline-block;
	margin-top: 1.5rem;
	width: 705px;
	height: 206px;
	background-image: url("images/Mask.png");
	background-position: center;
	background-size: cover;
	border-radius: 16px;
}
.sub-banner .sub-03 .sub-h1 {
	position: absolute;
	width: 222px;
	height: 45px;
	left: 32px;
	top: 130px;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 34px;
	line-height: 45px;
	letter-spacing: 0.4px;
	color: #ffffff;
}
.sub-banner .sub-03 .sub-03-label {
	position: absolute;
	width: 72px;
	height: 32px;
	left: 32px;
	top: 32px;
	background: rgba(251, 251, 251, 0.2);
	mix-blend-mode: normal;
	color: #ffffff;
	border: none;
	border-radius: 8px;
	font-family: Mulish;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
}
/* ====================== sub-list ====================== */
.product-list {
	width: 1300px;
	overflow: auto;
}
.product-list > div {
	margin-top: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/* padding-top: 2rem; */
}
.product-list .title {
	font-family: Playfair Display;
	font-size: 2rem;
	letter-spacing: 0.4px;
	color: #1b2437;
}
.product-list .product {
	position: relative;
	overflow: hidden;
	width: 364px;
	height: 560px;
	margin-bottom: 2rem;
	background: #ffffff;
	border-radius: 16px;
	text-align: initial;
}
.product-list .product .product_image {
	width:364px;
	height: 280px;
}
.product-list .product .product_name {
	width: 300px;
	padding: 1rem 2rem 0.2rem 2rem;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 2rem;
	line-height: 3rem;
	letter-spacing: 0.4px;
	color: #1b2437;
}
.product-list .product .product_descript {
	width: 300px;
	height: 48px;
	overflow: hidden;
	padding: 0.2rem 2rem 1.5rem 2rem;
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.5rem;
	color: #8e8e93;
}
.product-list .product .product_price {
	display: inline-block;
	padding: 0.7rem 2rem;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 2rem;
	letter-spacing: 0.4rem;
	color: #1b2437;
}
.product-list .product .btn-sub-list {
	position: absolute;
	padding: 0.6rem 1rem;
	right: 2rem;
	bottom: 2rem;
	width: 130px;
	right: 32px;
	border: 2px solid #eda3b5;
	box-sizing: border-box;
	border-radius: 16px;
	text-align: center;
	font-family: Mulish;
	font-style: normal;
	font-weight: bold;
	font-size: 1rem;
	color: #eda3b5;
	background-color: #ffffff;
}

/* ====================== product-detail ====================== */
.container {
	background: #ffffff;
	width: 1300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.product-img {
	position: relative;
	float: left;
	padding: 2.5rem;
	width: 500px;
	height: 500px;
	text-align: center;
}
.product-img #img-big {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 380px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.product-img .img-big-indicator-left {
	position: absolute;
	left: 2rem;
	top: 13.5rem;
	width: 24px;
	height: 24px;
	background-image: url("images/arrow_icn_left.png");
	cursor: pointer;
}
.product-img .img-big-indicator-right {
	position: absolute;
	right: 2rem;
	top: 13.5rem;
	width: 24px;
	height: 24px;
	background-image: url("images/arrow_icn_right.png");
	cursor: pointer;
}
.product-img .img-thumbs-container {
	height: 5.5rem;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.product-img .img-thumbs-container .img-thumbs {
	margin: 1rem 0.5rem;
	height: 4.5rem;
	width: 4.5rem;
	cursor: pointer;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.product-info {
	position: relative;
	padding: 2.5rem;
	width: 500px;
	height: 500px;
}
.product-info > div {
	position: relative;
	margin-bottom: 1rem;
}
.product-info .label {
	display: inline-block;
	padding: 0.2rem 1rem;
	margin-bottom: 0;
	background: #e5e5ea;
	font-family: Mulish;
	font-size: 0.8rem;
	font-style: normal;
}
.product-info #product {
	width: 100%;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 3rem;
	line-height: 4rem;
	letter-spacing: 0.01rem;
	color: #1b2437;
}
.product-info .ratings {
	width: 168px;
	height: 24px;
	margin-right: 0.5rem;
}
.product-info .reviews {
	position: absolute;
	top: 0.2rem;
	width: 168px;
	height: 24px;
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	color: #1b2437;
}
.product-info .descript {
	width: 470px;
	height: auto;
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.2rem;
	color: #8e8e93;
}
.product-info .feature {
	display: inline-block;
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	color: #1b2437;
	margin-right: 1rem;
}
.product-info .feature > div {
	margin-left: 0.3rem;
}
.product-info .feature .feature-size {
	height: 2.7rem;
	width: 4.2rem;
	margin: 0.5rem 0.2rem 0 0;
	border: 2px solid #e5e5ea;
	border-radius: 0.5rem;
}
.product-info .feature .feature-size:hover {
	background: #ffffff;
}
.product-info .feature .feature-size.selected {
	background: #eda3b5;
	color: #ffffff;
}
.product-info .feature .feature-color {
	height: 1.5rem;
	width: 1.5rem;
	margin: 0.9rem 0.2rem 0 0;
	padding: 0.35rem 0;
	border: none;
}
.product-info .feature .feature-color.Black {
	background: black;
}
.product-info .feature .feature-color.Deep-Green {
	background: #127681;
}
.product-info .feature .feature-color.Light-Green {
	background: #32e0c4;
}
.product-info .feature .feature-color.Beige {
	background: beige;
}
.product-info .feature .feature-color.red {
	background: red;
}
.product-info .feature .feature-color.Purple {
	background: Purple;
}
.product-info .feature .feature-color.White {
	background: white;
}
.product-info .feature .feature-color.selected {
	height: 1.7rem;
	width: 1.7rem;
	margin: 0.85rem 0.3rem 0 0;
	border: 4px solid #eda3b5;
}
.product-info .feature .feature-quantity {
	margin: 1rem 0.5rem;
	height: 1.7rem;
	width: 1.7rem;
	font-size: 1rem;
	text-align: center;
	border-radius: 1rem;
	border: 2px solid #d1d1d6;
	background-color: #ffffff;
}
.product-info .payment-container {
	position: relative;
	margin-top: 1rem;
	height: 4rem;
}
.product-info .payment-container #price {
	display: inline-block;
	padding: 0 1rem;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 2.1rem;
	line-height: 3rem;
	letter-spacing: 0.4rem;
}
.product-info .payment-container .purchase {
	position: absolute;
	height: 3rem;
	width: 8rem;
	left: 12rem;
	bottom: 0.5rem;
	border: none;
	border-radius: 1rem;
	font-family: Mulish;
	font-style: normal;
	font-size: 1rem;
	line-height: 2.5rem;
	text-align: center;
	background: #eda3b5;
	color: #ffffff;
}
.product-info .payment-container .purchase:hover {
	background: #ffffff;
	color: #eda3b5;
	border: 2px solid #eda3b5;
}
.product-info .payment-container .addCart {
	position: absolute;
	height: 3rem;
	width: 8rem;
	left: 21rem;
	bottom: 0.5rem;
	background-color: #ffffff;
	border: 2px solid #eda3b5;
	border-radius: 1rem;
	font-family: Mulish;
	font-style: normal;
	font-size: 1rem;
	line-height: 2.5rem;
	text-align: center;
	color: #eda3b5;
}
.product-info .payment-container .addCart:hover {
	background: #eda3b5;
	color: #ffffff;
	border: none;
}

/* ====================== login ====================== */
.login-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: auto;
	width: 1300px;
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	font-size: 1.5rem;
	line-height: 2rem;
	color: #1B2437;
}
.login-container form {
	width: 500px;
	height: auto;
	margin: 0 3rem;
}
.login-container form .title {
	margin-top: 2rem;
	font-family: Mulish;
	font-size: 2rem;
	font-style: normal;
	font-weight: 600;
	line-height: 2.5rem;
	text-align: center;
}
.login-container input {
	height: 50px;
	width: 100%;
	border: 2px solid #E5E5EA;
	border-radius: 8px;
	font-size: 1.5rem;
}
.login-container button {
	margin-top: 1rem;;
	height: 50px;
	width: 100%;
	background: #ffffff;
	border: 2px solid #EDA3B5;
	border-radius: 1rem;
	font-size: 1.3rem;
	font-weight: 500;
	text-align: center;
	color: #EDA3B5;
}
.login-container button:hover {
	color: #ffffff;
	background: #EDA3B5;
	border: 2px solid #ffffff;
}

/* ====================== login ====================== */
.page-list {
	text-align: center;
}
.page-list .page-number {
	margin: 1rem 0.5rem;
	font-size: 1.5rem;;
}
.page-list .page-number.active {
	color: red;
}

/* ============================================================ */
/* ====================== responsive css ====================== */
@media only screen and (max-width: 1370px) {
	header {
		width: 410px;
		height: 8rem;
	}
	header .header-container {
		width: 100%;
	}
	header .header-container .logo {
		left: 1rem;
	}
	header .header-container .sns {
		display: none;
	}
	header .header-container .login {
		top: 2.2rem;
		right: 3.5rem;
	}
	header .header-container .cart {
		top: 2rem;
		right: 1rem;
	}
	header nav {
		width: 100%;
		position: absolute;
		bottom: 0.2rem;
		text-align: center;
	}
	header nav .Home,
	header nav .Shop,
	header nav .Blog,
	header nav .Contact {
		position: relative;
		font-size: 1.4rem;
		left: 0;
		margin: 0 1.1rem;
	}

	.main-banner {
		width: 410px;
		height: 480px;
	}
	.main-banner > div .display-img {
		width: 100%;
		height: 100%;
		background-position: 65%;
	}
	.main-banner > div .display-h1,
	.main-banner > div .display-h2,
	.main-banner > div .btn-display-01 {
		left: 1.2rem;
	}
	.sub-banner {
		width: 410px;
		padding: 0.5rem 0;
	}
	.sub-banner .sub-01,
	.sub-banner .sub-02,
	.sub-banner .sub-03,
	.sub-banner .sub-nav {
		position: relative;
		height: 250px;
		width: 100%;
		margin: 0;
		float: left;
		border-radius: 0;
	}
	.sub-banner .sub-01 {
		margin: 0;
	}
	.product-list {
		width: 410px;
		padding: 0.5rem 0;
	}
	.product-list > div {
		justify-content: center;
	}
	.product-list .product {
		margin: 0.3rem 0;
	}
	/* =========== product-detail ==========*/
	.container {
		width: 410px;
	}
	.product-img {
		width: 100%;
		height: auto;
		padding: 2.5rem 1.5rem 0 1.5rem;
	}
	.product-img .img-big-indicator-left,
	.product-img .img-big-indicator-right {
		top: 10rem;
	}
	.product-img .img-thumbs-container .img-thumbs {
		margin: 1rem 0.5rem;
		height: 3rem;
		width: 3rem;
		cursor: pointer;
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
	}
	.product-info {
		width: 100%;
		height: auto;
		padding: 1rem 2.5rem;
	}
	.product-info > div {
		margin: 0 1rem 1rem 1rem;
	}
	.product-info #product {
		width: 380px;
		font-size: 2.5rem;
		line-height: 3.5rem;
	}
	.product-info .ratings {
		width: 120px;
		height: 18px;
	}
	.product-info .reviews {
		top: 0.1rem;
		height: 22px;
	}
	.product-info .descript {
		width: 380px;
		font-size: 0.8rem;
	}
	.product-info .feature {
		font-size: 0.9rem;
		margin-right: 0.5rem;
	}
	.product-info .feature .feature-size {
		height: 2.2rem;
		width: 3rem;
	}
	.product-info .payment-container {
		margin-top: 0;
	}
	.product-info .payment-container .purchase {
		height: 2.5rem;
		width: 7rem;
		left: 9rem;
		bottom: 1rem;
		font-size: 1rem;
		line-height: 1.5rem;
	}
	.product-info .payment-container .addCart {
		height: 2.5rem;
		width: 7rem;
		left: 16.5rem;
		bottom: 1rem;
		font-size: 1rem;
		line-height: 1.5rem;
	}
	/* ====================== login ====================== */
	.login-container {
		width: 410px;
		font-size: 1.3rem;
		line-height: 1.5rem;
	}
	.login-container form {
		width: 100%;
	}
	.login-container form .title {
		font-size: 1.3rem;
		line-height: 1.5rem;
	}
}
